@use "helpers" as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  min-width: $viewport-mobile-width;

  display: flex;
  flex-direction: column;

  font-family: var(--font-family-base), sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  color: var(--c-black);
  background-color: var(--c-white);
}

h1,
.h1 {
  @include fluid-text(64, 28);

  font-weight: 600;
  line-height: 1.2;
}

h2,
.h2 {
  @include fluid-text(48, 24);

  font-weight: 600;
  line-height: 1.2;
}

h3,
.h3 {
  @include fluid-text(38, 20);

  font-weight: 700;
}

h4,
.h4 {
  @include fluid-text(24, 18);

  font-weight: 600;
  line-height: 1.33;
}

h5,
.h5 {
  @include fluid-text(22, 18);

  font-weight: 600;
}

h6,
.h6 {
  @include fluid-text(18, 16);

  font-weight: 600;
}

p:not([class]) {
  color: var(--c-black);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition:
    color var(--transition-duration),
    background-color var(--transition-duration),
    border-color var(--transition-duration),
    opacity var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--c-accent);
  }

  &[class] {
    text-decoration: none;
  }

  &:not([class]) {
    color: var(--c-accent);

    &:not(:hover) {
      text-decoration: none;
    }
  }
}

:focus-visible {
  @include focus-visible;
}
