@use "../helpers" as *;

.button {
  --sizeIcon: 16px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  align-self: start;
  min-width: 150px;
  font-size: fluid(18, 16);
  font-weight: 500;
  padding: fluid(14, 12) fluid(32, 28);
  color: var(--c-accent);
  background-color: var(--c-white);
  white-space: nowrap;
  border: var(--border);
  cursor: pointer;

  @include mobile-s {
    width: 100%;
  }

  @include hover {
    color: var(--c-white);
    background-color: var(--c-accent);
    border-color: var(--c-accent);
  }
}
